[Unit]
Description=dsh-phalanx HTTPS entry
After=network-online.target

[Service]
Type=simple
User=dsh-phalanx-edge
Group=dsh-phalanx-edge
RuntimeDirectory=dsh-phalanx-edge
RuntimeDirectoryMode=0700
ExecStartPre=/usr/sbin/nginx -t -p /run/dsh-phalanx-edge/ -c /etc/dsh-phalanx-edge/nginx.conf
ExecStart=/usr/sbin/nginx -p /run/dsh-phalanx-edge/ -c /etc/dsh-phalanx-edge/nginx.conf -g "daemon off;"
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=45
Restart=on-failure
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
UMask=0077

[Install]
WantedBy=multi-user.target
